.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}

.h-scroll {
    display: inline-block;
}